<%- include('./includes/admin-header')%>

  <body>
    <div class="container-scroller">
      <%- include('./includes/admin-navbar')%>
        <div class="container-fluid page-body-wrapper">
          <%- include('./includes/side-nav')%>
            <div class="main-panel">
              <div class="content-wrapper">
                <div class="row">
                  <div class="col-md-12 grid-margin">
                    <div class="row">
                      <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                        <h3 class="font-weight-bold">Welcome Admin</h3>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 grid-margin transparent">
                    <div class="row">
                      <div class="col-md-3 mb-4 stretch-card transparent">
                        <div class="card card-tale">
                          <div class="card-body">
                            <p class="mb-4">Total orders</p>
                            <p class="fs-30 mb-2">
                              <%=totalOrders%>
                            </p>
                            <p>till <%=date%>
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3 mb-4 stretch-card transparent">
                        <div class="card card-dark-blue">
                          <div class="card-body">
                            <p class="mb-4">Total Users</p>
                            <p class="fs-30 mb-2">
                              <%=totalUsers%>
                            </p>
                            <p>till <%=date%>
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3 mb-4 stretch-card transparent">
                        <div class="card card-light-blue">
                          <div class="card-body">
                            <p class="mb-4">Total Income</p>
                            <p class="fs-30 mb-2">Rs <%=sum%>
                            </p>
                            <p>till <%=date%>
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3 mb-4 stretch-card transparent">
                        <div class="card card-light-danger">
                          <div class="card-body">
                            <p class="mb-4">Total Products</p>
                            <p class="fs-30 mb-2">
                              <%=totalProducts%>
                            </p>
                            <p>till <%=date%>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body">
                        <div class="d-flex justify-content-between">
                          <p class="card-title">Sales Report</p>
                        </div>
                        <h4 class="card-title">Pie chart</h4>
                        <canvas id="pieChart"></canvas>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body">
                        <div class="d-flex justify-content-between">
                          <p class="card-title">Sales Report</p>
                        </div>
                        <h4 class="card-title">Bar chart</h4>
                        <canvas id="barChart"></canvas>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row d-flex justify-content-center"><a href="/admin/report" class="btn btn-dark">View
                    detailed report</a></div>
                <%- include('./includes/admin-footer')%>
              </div>
            </div>
        </div>
        <%- include('./includes/script')%>
          <script>
            $(function () {
            
              
              /* ChartJS
               * -------
               * Data and config for chartjs
               */
              'use strict';
              var data = {
                labels: ["<%=newdate[0]%>","<%=newdate[1]%>","<%=newdate[2]%>","<%=newdate[3]%>","<%=newdate[4]%>","<%=newdate[5]%>","<%=newdate[6]%>"],
                datasets: [{
                  label: 'sales',
                  data: ['<%=newArr[0]%>','<%=newArr[1]%>','<%=newArr[2]%>','<%=newArr[3]%>','<%=newArr[4]%>','<%=newArr[5]%>','<%=newArr[6]%>'],
                  
                  backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                  ],
                  borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                  ],
                  borderWidth: 1,
                  fill: false
                }],
              
              };
              var multiLineData = {
                labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
                datasets: [{
                  label: 'Dataset 1',
                  data: [12, 19, 3, 5, 2, 3],
                  borderColor: [
                    '#587ce4'
                  ],
                  borderWidth: 2,
                  fill: false
                },
                {
                  label: 'Dataset 2',
                  data: [5, 23, 7, 12, 42, 23],
                  borderColor: [
                    '#ede190'
                  ],
                  borderWidth: 2,
                  fill: false
                },
                {
                  label: 'Dataset 3',
                  data: [15, 10, 21, 32, 12, 33],
                  borderColor: [
                    '#f44252'
                  ],
                  borderWidth: 2,
                  fill: false
                }
                ]
              };
              var options = {
                scales: {
                  yAxes: [{
                    ticks: {
                      beginAtZero: true
                    }
                  }]
                },
                legend: {
                  display: false
                },
                elements: {
                  point: {
                    radius: 0
                  }
                }

              };
              var doughnutPieData = {
                datasets: [{
                  data: ['<%=cancelledOrder%>', '<%=pendingOrder%>', '<%=deliveredOrder%>'],
                  backgroundColor: [
                    'rgba(255, 99, 132, 0.5)',
                    'rgba(54, 162, 235, 0.5)',
                    'rgba(255, 206, 86, 0.5)',
                    'rgba(75, 192, 192, 0.5)',
                    'rgba(153, 102, 255, 0.5)',
                    'rgba(255, 159, 64, 0.5)'
                  ],
                  borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                  ],
                }],

                // These labels appear in the legend and in the tooltips when hovering different arcs
                labels: [
                  'cancelledOrder',
                  'pendingOrder',
                  'deliveredOrder',
                ]
              };
              var doughnutPieOptions = {
                responsive: true,
                animation: {
                  animateScale: true,
                  animateRotate: true
                }
              };
              var areaData = {
                labels: ["2013", "2014", "2015", "2016", "2017"],
                datasets: [{
                  label: '# of Votes',
                  data: [12, 19, 3, 5, 2, 3],
                  backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                  ],
                  borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                  ],
                  borderWidth: 1,
                  fill: true, // 3: no fill
                }]
              };

              var areaOptions = {
                plugins: {
                  filler: {
                    propagate: true
                  }
                }
              }

              var multiAreaData = {
                labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                datasets: [{
                  label: 'Facebook',
                  data: [8, 11, 13, 15, 12, 13, 16, 15, 13, 19, 11, 14],
                  borderColor: ['rgba(255, 99, 132, 0.5)'],
                  backgroundColor: ['rgba(255, 99, 132, 0.5)'],
                  borderWidth: 1,
                  fill: true
                },
                {
                  label: 'Twitter',
                  data: [7, 17, 12, 16, 14, 18, 16, 12, 15, 11, 13, 9],
                  borderColor: ['rgba(54, 162, 235, 0.5)'],
                  backgroundColor: ['rgba(54, 162, 235, 0.5)'],
                  borderWidth: 1,
                  fill: true
                },
                {
                  label: 'Linkedin',
                  data: [6, 14, 16, 20, 12, 18, 15, 12, 17, 19, 15, 11],
                  borderColor: ['rgba(255, 206, 86, 0.5)'],
                  backgroundColor: ['rgba(255, 206, 86, 0.5)'],
                  borderWidth: 1,
                  fill: true
                }
                ]
              };

              // var multiAreaOptions = {
              //   plugins: {
              //     filler: {
              //       propagate: true
              //     }
              //   },
              //   elements: {
              //     point: {
              //       radius: 0
              //     }
              //   },
              //   scales: {
              //     xAxes: [{
              //       gridLines: {
              //         display: false
              //       }
              //     }],
              //     yAxes: [{
              //       gridLines: {
              //         display: false
              //       }
              //     }]
              //   }
              // }

              // var scatterChartData = {
              //   datasets: [{
              //     label: 'First Dataset',
              //     data: [{
              //       x: -10,
              //       y: 0
              //     },
              //     {
              //       x: 0,
              //       y: 3
              //     },
              //     {
              //       x: -25,
              //       y: 5
              //     },
              //     {
              //       x: 40,
              //       y: 5
              //     }
              //     ],
              //     backgroundColor: [
              //       'rgba(255, 99, 132, 0.2)'
              //     ],
              //     borderColor: [
              //       'rgba(255,99,132,1)'
              //     ],
              //     borderWidth: 1
              //   },
              //   {
              //     label: 'Second Dataset',
              //     data: [{
              //       x: 10,
              //       y: 5
              //     },
              //     {
              //       x: 20,
              //       y: -30
              //     },
              //     {
              //       x: -25,
              //       y: 15
              //     },
              //     {
              //       x: -10,
              //       y: 5
              //     }
              //     ],
              //     backgroundColor: [
              //       'rgba(54, 162, 235, 0.2)',
              //     ],
              //     borderColor: [
              //       'rgba(54, 162, 235, 1)',
              //     ],
              //     borderWidth: 1
              //   }
              //   ]
              // }

              // var scatterChartOptions = {
              //   scales: {
              //     xAxes: [{
              //       type: 'linear',
              //       position: 'bottom'
              //     }]
              //   }
              // }
              // Get context with jQuery - using jQuery's .get() method.
              if ($("#barChart").length) {
                var barChartCanvas = $("#barChart").get(0).getContext("2d");
                // This will get the first returned node in the jQuery collection.
                var barChart = new Chart(barChartCanvas, {
                  type: 'bar',
                  data: data,
                  options: options
                });
              }
              if ($("#pieChart").length) {
                var pieChartCanvas = $("#pieChart").get(0).getContext("2d");
                var pieChart = new Chart(pieChartCanvas, {
                  type: 'pie',
                  data: doughnutPieData,
                  options: doughnutPieOptions
                });
              }
            });
          </script>