<%- include('./includes/admin-header')%>

<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <%- include('./includes/admin-navbar')%>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      
    



      <%- include('./includes/side-nav')%>
      <!-- partial:../../partials/_sidebar.html -->
     



      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-lg-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">category-Men</h4>
                  
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Product Name</th>
                          <th>option</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Jacob</td>
                          <td>53275531</td>
                        </tr>
                        </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <%- include('./includes/admin-footer')%>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <%- include('./includes/script')%>
  