<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>BeYou Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="../vendors/feather/feather.css">
  <link rel="stylesheet" href="../vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="../vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="../vendors/datatables.net-bs4/dataTables.bootstrap4.css">
  <link rel="stylesheet" href="../vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" type="text/css" href="../js/select.dataTables.min.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="../css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="images/favicon.png" />
</head>


<body>
  <div class="container-scroller">
    <%- include('./includes/admin-navbar')%>
      <div class="container-fluid page-body-wrapper">
        <%- include('./includes/side-nav')%>
          <div class="main-panel">
            <div class="content-wrapper">
              <div class="row">
                <div class="col-lg-6 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                          <form class="forms-sample" method="post" action="/admin/edit-product/<%=productId.id%>"
                            enctype="multipart/form-data" id="edit">
                            <h2>Edit Product</h2>
                            <br>
                            <div class="form-group">
                              <label for="productName">Name</label>
                              <input type="text" class="form-control" name="name" id="productName"
                                placeholder="Name" value="<%=productId.name%>">
                                <span id="errMsg" style="color: red;"></span>

                            </div>
                            <div class="form-group">
                              <label for="category">Category</label>
                              <select name="category" id="category">
                                <% category.forEach(function(category){ %>
                                  <option>
                                    <%= category.category%>
                                  </option>
                                  <%})%>
                              </select>
                              <span id="errMsg1" style="color: red;"></span>

                            </div>
                            <div class="form-group">
                              <label for="quantity">quantity</label>
                              <input type="number" name="quantity" class="form-control" id="quantity"
                                placeholder="quantity" value="<%=productId.quantity%>">
                                <span id="errMsg2" style="color: red;"></span>

                            </div>
                            <div class="form-group">
                              <label for="image" class="form-label">Image</label>
                              <img src="/productImages/<%=productId.image[0]%>" style="height:30px;width:30px"
                                id="imgView"><br>
                              <input type="file" name="productImage" accept="image/png, image/gif, image/jpeg" class=" form-control" id="image"
                                onchange="viewImage(event)" multiple >

                                <%if(message.length>0){%>
                                  <span class="alert" style="color:red;"><%=message%></span>
                                  <%}%>
                                <!-- <span id="errMsg3" style="color: red;"></span> -->

                            </div>
                            <div class="form-group">
                              <label for="price">price</label>
                              <input type="text" class="form-control" name="price" id="price"
                                placeholder="price" value="<%=productId.price%>">
                                <span id="errMsg4" style="color: red;"></span>

                            </div>
                            <div class="form-group">
                              <label for="description">Description</label>
                              <input type="text" class="form-control" id="description" name="description" rows="4"
                                value="<%=productId.description%>">
                                <span id="errMsg5" style="color: red;"></span>

                            </div>
                            <button type="submit" class="btn btn-primary mr-2">Submit</button>
                            <button class="btn btn-light">Cancel</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <%- include('./includes/admin-footer')%>
          </div>
      </div>
  </div>
  <script> 
    const form = document.getElementById('edit')
               form.addEventListener('submit', (e) => {
                   console.log("hiiiii");
                   const productName = document.getElementById('productName')
                   const category = document.getElementById('category')
                   const quantity = document.getElementById('quantity')
                   const image = document.getElementById('image')
                   const price = document.getElementById('price')
                   const description = document.getElementById('description')
                   const err = document.getElementById('errMsg')
                   const err1 = document.getElementById('errMsg1')
                   const err2 = document.getElementById('errMsg2')
                   const err3 = document.getElementById('errMsg3')
                   const err4 = document.getElementById('errMsg4')
                   const err5 = document.getElementById('errMsg5')
     
                   console.log(image.length)
                   err.innerHTML = ''
                   err1.innerHTML = ''
                   err2.innerHTML = ''
                   err3.innerHTML = ''
                   err4.innerHTML = ''
                   err5.innerHTML=''
                   if (productName.value == '' || productName.value == null) {
   
                       e.preventDefault()
                       err.innerHTML = 'Enter product name'
                   }
                   else if (category.value == '' || category.value == null) {
                       e.preventDefault(
                           err1.innerHTML = 'Choose category'
                       )
                   }
                   else if (quantity.value == '' || quantity.value == null ||isNaN(quantity.value)) {
                       e.preventDefault(
                           errMsg2.innerHTML = 'Enter quantity'
                       )
                   }
                   else if ( image.length==0) {
                    console.log("image length")
                    console.log(image.length);
                       e.preventDefault()
                       err3.innerHTML = 'Choose an image'
                   } else if (price.value == '' || price.value == null || price.value == NaN) {
                       e.preventDefault()
                       err4.innerHTML = 'Enter proper price'
                   } else if (description.value == '' || description.value == null) {
                       e.preventDefault()
                       err5.innerHTML = 'Give description'
                   }
               })
       

    function viewImage(event) {
      document.getElementById('imgView').src = URL.createObjectURL(event.target.files[0])
    }
  </script>
  <%- include('./includes/script')%>