<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>BeYou Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="../vendors/feather/feather.css">
  <link rel="stylesheet" href="../vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="../vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="../vendors/datatables.net-bs4/dataTables.bootstrap4.css">
  <link rel="stylesheet" href="../vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" type="text/css" href="../js/select.dataTables.min.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="../css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="images/favicon.png" />
</head>


<body>
    <div class="container-scroller">
        <%- include('./includes/admin-navbar')%>
            <div class="container-fluid page-body-wrapper">
                <%- include('.//includes/side-nav')%>
                    <div class="main-panel">
                        <div class="content-wrapper">
                            <div class="row">
                                <div class="col-lg-6 grid-margin stretch-card">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="col-12 grid-margin stretch-card">
                                                <div class="card">
                                                    <form class="forms-sample" method="post" action="/admin/editBanner/<%=bannerId.id%>"
                                                        enctype="multipart/form-data" id="editBanner">
                                                        <h2>Edit Banner</h2>
                                                        <br>
                                                    <div class="form-group">
                                                            <label for="formFile" class="form-label">Image</label>
                                                            <input type="file" name="bannerImage" class=" form-control"
                                                                id="formFile" multiple >
                                                                <%if(bannerMessage.length>0){%>
                                                                    <span class="alert" style="color:red;">
                                                                      <%=bannerMessage%>
                                                                    </span>
                                                                    <%}%>
                                  
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="title">Title</label>
                                                            <input type="text" class="form-control"
                                                                id="title" name="title" value="<%=bannerId.title%>"
                                                                rows="4"></textarea>
                                                            <span id="errMsg" style="color: red;"></span>

                                                        </div>
                                                          <div class="form-group">
                                                            <label for="description">Description</label>
                                                            <input type="text" class="form-control"  value="<%=bannerId.description%>"
                                                                id="description" name="description"
                                                                rows="4"></textarea>
                                                            <span id="errMsg1" style="color: red;"></span>

                                                        </div>
                                                        <button type="submit"
                                                            class="btn btn-primary mr-2">Submit</button>
                                                        <button class="btn btn-light">Cancel</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%- include('./includes/admin-footer')%>
                    </div>
            </div>
    </div>
    <%- include('./includes/script')%>
    <script>
        const form = document.getElementById('editBanner')
        form.addEventListener('submit', (e) => {
            console.log("hiiiii");
            const bannerTitle = document.getElementById('title')
            const bannerDescription = document.getElementById('description')
            const err = document.getElementById('errMsg')
            const err1 = document.getElementById('errMsg1')

            err.innerHTML = ''
            err1.innerHTML = ''

            if (bannerTitle.value == '' || bannerTitle.value == null) {
                e.preventDefault()
                err.innerHTML = 'Enter bannerTitle'
            } else if (bannerDescription.value == '' || bannerDescription.value == null) {
                e.preventDefault()
                err1.innerHTML = 'Give banner description'
            }
        })
    </script>