
<%- include('./includes/user-header')%>
    <div class="boxed_wrapper">
        <%- include('./includes/user-navbar')%>
            <section class="banner-style-one">
                <div class="pattern-layer" style="background-image: url(/bannerImages/<%=banner[0].image[0]%>);"></div>
                <div class="banner-carousel owl-theme owl-carousel">
                    <div class="slide-item">
                        <div class="auto-container">
                            <div class="content-inner">
                                <div class="content-box">
                                    <h1>Up To <br /><span>50%</span> Discount</h1>
                                    <h3>Summer Lookbook - 2022</h3>
                                    <p>
                                        <%=banner[0].description%>
                                    </p>
                                    <div class="btn-box">
                                        <a href="/" class="theme-btn-one">Explore Now<i
                                                class="flaticon-right-1"></i></a>
                                    </div>
                                </div>
                                <figure class="image-box image-1"><img src="/bannerImages/<%=banner[1].image[0]%>"
                                        alt=""></figure>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <br>
            <!-- shop-section -->
            <section class="shop-section">
                <div class="auto-container">
                    <div class="sec-title">
                        <span class="separator"
                            style="background-image: url(user/images/icons/separator-1.png);"></span>
                    </div>
                    <div class="items-container row clearfix d-flex justify-content-center">
                        <% product.forEach(function(product){%>
                            <div
                                class="col-lg-3 col-md-6 col-sm-12 shop-block masonry-item small-column best_seller new_arraivals top_rate ">
                                <div class="shop-block-one ">
                                    <div class="inner-box ">
                                        <figure class="image-box border ">
                                            <a href="/productView/<%=product._id%>/<%=product.category%>"><img
                                                    src="/productImages/<%=product.image[0]%>"
                                                    style="height: 380px;width:7000px;" alt="Image not found"></a>
                                            <ul class="info-list clearfix">
                                                <li><a href="/wishList/<%=product._id%>">
                                                        <i class="flaticon-heart"></i>
                                                    </a></li>
                                                <li><a onclick="addToCart('<%=product._id%>')">Add to cart</a></li>
                                            </ul>
                                        </figure>
                                        <div class="lower-content">
                                            <a href="product-details.html">
                                                <%=product.name%>
                                            </a>
                                            <span class="price">
                                                <%=product.price%>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <%})%>
                    </div>
                </div>
                <!-- <nav aria-label="..."> -->
                    <div class="container d-flex justify-content-center">
                        <ul class="pagination pagination-sm">
                            <%for (let i=1;i<=pages;i++){%>
                                <%if(i==currentPage){%>
                                    <li class="page-item"><a class="page-link active" href="/?page=<%=i%>">
                                            <%=i%>
                                        </a></li>
                                    <%} else{%>
                                        <li class="page-item"><a class="page-link " href="/?page=<%=i%>">
                                                <%=i%>
                                            </a></li>
                                        <%}%>
                                            <%}%>
                        </ul>
                    </div>
                <!-- </nav> -->
            </section>
            <!-- shop-section end -->
            <!-- service-section -->
            <section class="service-section">
                <div class="auto-container">
                    <div class="inner-container">
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-6 col-sm-12 service-block">
                                <div class="service-block-one">
                                    <div class="inner-box">
                                        <div class="icon-box"><i class="flaticon-truck"></i></div>
                                        <h3><a href="index.html">Free Shipping</a></h3>
                                        <p>Free shipping on oder over $100</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12 service-block">
                                <div class="service-block-one">
                                    <div class="inner-box">
                                        <div class="icon-box"><i class="flaticon-credit-card"></i></div>
                                        <h3><a href="index.html">Secure Payment</a></h3>
                                        <p>We ensure secure payment with PEV</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12 service-block">
                                <div class="service-block-one">
                                    <div class="inner-box">
                                        <div class="icon-box"><i class="flaticon-24-7"></i></div>
                                        <h3><a href="index.html">Support 24/7</a></h3>
                                        <p>Contact us 24 hours a day, 7 days a week</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12 service-block">
                                <div class="service-block-one">
                                    <div class="inner-box">
                                        <div class="icon-box"><i class="flaticon-undo"></i></div>
                                        <h3><a href="index.html">30 Days Return</a></h3>
                                        <p>Simply return it within 30 days for an exchange.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- service-section end -->
            <%- include('./includes/user-footer')%>
                <script>
                    function addToCart(productId) {
                        console.log(productId);
                        console.log("hiii");
                        $.ajax({
                            url: '/addToCart/' + productId,
                            method: 'get',
                            success: (response) => {
                                if (response.status) {
                                    swal.fire({
                                        icon: 'success',
                                        title: 'Added Succesfully',
                                        showConfirmButton: false,
                                    })
                                }

                            }
                        })
                    }
                </script>
                <%- include('./includes/script')%>