<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <title>Be You</title>

    <!-- Fav Icon -->
    <link rel="icon" href="/user/images/title-icon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <!-- Stylesheets -->
    <link href="/user/user-css/font-awesome-all.css" rel="stylesheet">
    <link href="/user/user-css/flaticon.css" rel="stylesheet">
    <link href="/user/user-css/owl.css" rel="stylesheet">
    <link href="/user/user-css/bootstrap.css" rel="stylesheet">
    <link href="/user/user-css/jquery.fancybox.min.css" rel="stylesheet">
    <link href="/user/user-css/animate.css" rel="stylesheet">
    <link href="/user/user-css/style.css" rel="stylesheet">
    <link href="/user/user-css/responsive.css" rel="stylesheet">
    <link href="user/user-css/jquery-ui.css" rel="stylesheet">
    <link href="user/user-css/jquery.bootstrap-touchspin.css" rel="stylesheet">
    <link href="user/user-css/nice-select.css" rel="stylesheet">
    <link href="user/user-css/color.css" rel="stylesheet">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>



</head>

<body>

    <div class="container mt-5 mb-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="invoice p-5">
                        <h5>Your order Confirmed!</h5>
                        <span class="font-weight-bold d-block mt-4">Hello,<%= userData.userName %></span>
                        <span>You order has been confirmed and will be shipped in next two days!</span>
                        <div class="payment border-top mt-3 mb-3 border-bottom table-responsive">
                            <table class="table table-borderless">
                                <tbody>
                                    <%orderSuccess.forEach(function(success){%>
                                    <tr>
                                        <td>
                                            <div class="py-2">
                                                <span class="d-block text-muted">Order Date</span>
                                                <span><%=success.date%></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="py-2">
                                                <span class="d-block text-muted">Order No</span>
                                                <span><%=success._id%></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="py-2">
                                                <span class="d-block text-muted">Payment</span>
                                                <span><%=success.paymentMode%></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="py-2">
                                                <span class="d-block text-muted">Shiping Address</span>
                                                <span><%=success.address.name%><br>
                                                    <%=success.address.houseName%><br>
                                                    <%=success.address.pincode%></span>
                                            </div>
                                        </td>
                                    </tr>
                                    <%})%>
                                </tbody>
                            </table>
                        </div>
                        <div class="product border-bottom table-responsive">
                            <table class="table table-borderless">
                                <tbody>
                                    <%orderSuccess.forEach(function(success){%>
                                        <% for (let i=0;i<success.order.length;i++){%>
                                    <tr>
                                        <td width="20%">
                                            <img src="/productImages/<%=success.order[i].productId.image%>" width="90">
                                        </td>
                                        <td width="60%">
                                            <span class="font-weight-bold"><%=success.order[i].productId.name%></span>
                                            <div class="product-qty">
                                                <span class="d-block">Quantity:<%=success.order[i].quantity%></span>
                                                
                                            </div>
                                        </td>
                                        <td width="20%">
                                            <div class="text-right">
                                                <span class="font-weight-bold"><%=success.order[i].price%></span>
                                            </div>
                                        </td>
                                    </tr>
                                    <%}%>
                                    <%})%>

                                </tbody>
                            </table>
                        </div>
                        <div class="row d-flex justify-content-end">
                            <div class="col-md-5">
                                <table class="table table-borderless">
                                    <tbody class="totals">
                                    <%orderSuccess.forEach(function(success){%>

                                        <tr>
                                            <td>
                                                <div class="text-left">
                                                    <span class="text-muted">Subtotal</span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="text-right">
                                                    <span><%=success.totalAmount + success.discountAmount%></span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="text-left">
                                                    <span class="text-muted">Discount</span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="text-right">
                                                    <span class="text-success"><%=success.discountAmount%></span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="border-top border-bottom">
                                            <td>
                                                <div class="text-left">
                                                    <span class="font-weight-bold">Total</span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="text-right">
                                                    <span class="font-weight-bold"><%=success.totalAmount%></span>
                                                </div>
                                            </td>
                                        </tr>
                                        <%})%>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-center mt-4 ">
                    <a class="btn btn-dark " href="/">Back to homepage</a>
                </div>
            </div>
        </div>
        
    </div>
   
    <%- include('./includes/script')%>