<%- include('./includes/user-header')%>
<%- include('./includes/user-navbar')%>
<section>
     <ul>
        <li>
           Name : <%= user.userName %>
        </li>
        <li>
            Email : <%= user.userEmail %>
         </li>
         <li>
            Mobile : <%= user.mobile %>
         </li>
     </ul>

</section>


<%- include('./includes/script')%>