<%- include('./includes/user-header')%>
    <%- include('./includes/user-navbar')%>
  

        <!-- page-title -->
        <section class="page-title centred">
            <div class="pattern-layer" style="background-image: url(assets/images/background/page-title.jpg);"></div>
            <div class="auto-container">
                <div class="content-box">
                    <h1>Cart Page</h1>
                    <ul class="bread-crumb clearfix">
                        <li><i class="flaticon-home-1"></i><a href="index.html">Home</a></li>
                        <li>Cart Page</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- page-title end -->



        <section class="cart-section cart-page">
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 table-column">
                        <div class="table-outer">
                            <table class="cart-table">
                                <thead class="cart-header">
                                    <tr>
                                        <th>&nbsp;</th>
                                        <th>Image</th>


                                        <th class="prod-column">Product Name</th>
                                        <th>&nbsp;</th>

                                        <th class="price">Price</th>
                                        <th class="quantity">Quantity</th>
                                        <th>Subtotal</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <%products.forEach(function(product){%>
                                        <tr>

                                            <td colspan="4" class="prod-column">
                                                <div class="column-box">
                                                    <div class="remove-btn"
                                                        onclick="removeItem('<%=product.productId._id%>')">
                                                        <i class="flaticon-close"></i>
                                                    </div>
                                                    <div class="prod-thumb">
                                                        <a href="#"> <img
                                                                src="/productImages/<%=product.productId.image%>"
                                                                style="height:60px;width:60px;" alt=""></a>
                                                    </div>
                                                    <div class="prod-title">

                                                        <%=product.productId.name%>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="price">
                                                <%=product.productId.price%>
                                            </td>
                                            <td class="qty">
                                                <div class="item-quantity"
                                                    onclick="quantityChange('<%=product.productId._id%>')">
                                                    <input class="quantity-spinner" min="1"
                                                        id="<%=product.productId._id%>quantity" type="text"
                                                        value="<%=product.quantity%>" name="quantity">
                                                </div>
                                            </td>
                                            <td class="sub-total">
                                                <%=product.productId.price*product.quantity%>
                                            </td>
                                        </tr>

                                        <%})%>



                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- <div class="othre-content clearfix">
                    <div class="coupon-box pull-left clearfix">
                        <form action="/applyCoupon" method="post">
                            <input type="text" name="couponCode" placeholder="Enter coupon code...">
                            <button type="submit" class="theme-btn-two">Apply coupon<i
                                    class="flaticon-right-1"></i></a>
                        </form>
                    </div>
                </div> -->

                <div class="cart-total">
                    <div class="row">
                        <div class="col-xl-5 col-lg-12 col-md-12 offset-xl-7 cart-column">
                            <div class="total-cart-box clearfix">
                                <h4>Cart Totals</h4>
                                <ul class="list clearfix">
                                    <li>Subtotal:<span>
                                            <%=total%>
                                        </span></li>

                                    <li>Order Total:<span id="totalPrice">
                                            <%=total%>
                                        </span></li>
                                </ul>
                                <a href="/checkout" class="theme-btn-two">Proceed to Checkout<i
                                        class="flaticon-right-1"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <%- include('./includes/user-footer')%>
            <script>
                function quantityChange(productId) {
                    console.log("fghjkkgf");
                    console.log(productId);
                    let quantity = document.getElementById(`${productId}quantity`).value
                    console.log(quantity);
                    if(quantity<=0){
                        Swal.fire({
                        title: "Are you sure to remove this",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#d33',
                        cancelButtonColor: '#3085d6',
                        confirmButtonText: 'remove'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            $.ajax({
                                url: '/remove/' + productId,
                                method: 'post',
                                success: (response) => {
                                    if (response.status) {
                                        swal.fire({
                                            icon: 'success',
                                            title: 'Removed Succesfully',
                                            showConfirmButton: false,
                                        }).then(() => {
                                            setTimeout(() => {
                                                location.reload()
                                            }, 800)
                                        })
                                    }

                                }
                            })
                        }
                    }
                    )  
                    }else{
                        $.ajax({
                        // /increment/897s67d9786873246876/7
                        url: '/increment/' + productId + "t" + quantity,
                        method: 'post',
                        success: (response) => {
                            if (response.status) {
                                location.reload()
                            }
                        }
                    })
                    }
                    

                }
            </script>
            <script>

                function removeItem(productId) {
                    Swal.fire({
                        title: "Are you sure to remove this",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#d33',
                        cancelButtonColor: '#3085d6',
                        confirmButtonText: 'remove'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            $.ajax({
                                url: '/remove/' + productId,
                                method: 'post',
                                success: (response) => {
                                    if (response.status) {
                                        swal.fire({
                                            icon: 'success',
                                            title: 'Removed Succesfully',
                                            showConfirmButton: false,
                                        }).then(() => {
                                            setTimeout(() => {
                                                location.reload()
                                            }, 800)
                                        })
                                    }

                                }
                            })
                        }
                    }
                    )
                }

            </script>
            <!-- <script>
        function totalprice(){
            let total = document.getElementById('totalPrice').innerHTML
            $.ajax({
                url:'/totalBill/'+total,
                method:'post',

            })
        }
    </script> -->


            <%- include('./includes/script')%>